{# src/Resources/articles_details.html.twig for ArticlesDetailsController.php #}
{% extends "layout/layout.html.twig" %}
{% block body %}
    <h2>{{ articles[0].name }}</h2>
    </br>
    <p>{{ articles[0].description }}</p>
{% endblock %}
