{# src/Resources/articles.html.twig for ArticlesController.php #}
{% extends "layout/layout.html.twig" %}
{% block body %}
    <div class="row">
        {% for art in articles %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ art.name }}</h5>
                        <p class="card-text">
                            {{ art.description }}</p>
                        <a class="btn btn-primary" href="#">Read more about this</a>
                    </div>
                </div>
                </br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
