{# src/Resources/articles.html.twig for ArticlesController.php #}

{% extends "layout/layout.html.twig" %}
{% block body %}
    {% for art in articles %}

        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ art.name }}</h5>
                <p class="card-text">{{ art.description }}</p>
                <a href="#" class="btn btn-primary">More about this.</a>
            </div>
            <div class="card-footer text-muted">
                Here the date (soon)
            </div>
        </div>
    {% endfor %}
{% endblock %}
