{# src/Resources/guides.html.twig for GuidesController.php #}
{% extends "layout/layout.html.twig" %}
{% block body %}
    <div class="row">
        {% for cat in categories %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ cat.name }}</h5>
                        <p class="card-text">
                            {{ cat.description }}</p>
                        <a class="btn btn-primary" href="{{ path('articles_routes', { 'category': cat.name }) }}">I would like to see more about this category</a>
                    </div>
                </div>
            </br>
        </div>
    {% endfor %}
</div>{% endblock %}
