{# src/Resources/guides.html.twig for GuidesController.php #}

{% extends "layout/layout.html.twig" %}
{% block body %}
    {% for cat in categories %}

        <div class="card">
            <div class="card-header">
                {{ cat.name }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        {{ cat.description }}
                    </p>
                </blockquote>
                <footer>
                    <a class="btn btn-secondary" href="{{ path('articles_routes', { 'category': cat.name }) }}" role="button">I would like to see more !!</a>
                </footer>
            </div>
        </div>
    {% endfor %}
{% endblock %}
