{# src/Resources/index.html.twig for HomeController.php #}

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the first page at Symfony blog !</title>
  </head>
  <body>
    <h1>Welcome !</h1>

    <p>
      Welcome to this blog.
    </p>
  </body>
</html>
