{# src/Resources/index.html.twig for HomeController.php #}

{% extends "layout/layout.html.twig" %}
{% block body %}
<p>Welcome to the Symfony blog. A Devops group 2 project. Work in progress.</p>
{% endblock %}
