<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {% block title %}Home{% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Symfony blog in DEVOPS G2.</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="guides">Guides</a>
                    </li>
                    <li>
                        <a href="signin">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>